# appveyor.yml - https://www.appveyor.com/docs/lang/python
---
image:
  - Visual Studio 2019
  - Ubuntu

build: false

install:
  # - py --list
  - sh: for d in ~/venv3*/bin; do PATH=$PATH:$d; done
  - python -m pip install tox

test_script:
  - python -m tox
