# appveyor.yml - https://www.appveyor.com/docs/lang/python
---
image:
  - Visual Studio 2019
  - Ubuntu

environment:
  matrix:
  - TOXENV: py39
  - TOXENV: py310

build: false

install:
  # - py --list
  # - python -m ensurepip --upgrade
  # - python -m pip install tox
  - py -m pip install tox

test_script:
  - py -m tox
